.header{
  display: block;
  width: 30px;
}
.img{
  width: 150px;
  margin: 15px;
}
.timkiem{
  margin-top: auto;
  position: absolute;
  top: 55px;
  width: 50%;
  height: 40px;
  border: 3px solid green;
  border-radius: 30px;
}
.button_timkiem{
  position: relative;
  top: -100px;
  left: 50%;
  width: 10%;
  height: 40px;
  border-radius: 30px;
}
.login{
  position: absolute;
  top: 5px;
  left: 1200px;
}
.menu{
  font-weight: bold;
  margin: 15px;
}

.banner{
  width: 1320px;
  text-align: center;
  display: inline-block;
  border: 4px;
  margin: 15px;
  height: 350px;
}
.sanpham{
  margin: 15px;
}
.loaisanpham{
  font-weight: bold;
  margin: 15px;
}
.imgsp{
  width: 100px;
}
.chonmua{
  width: 100px;
  background-color: aquamarine;
}

.footer{
  margin: 15px;
  background: gainsboro;
  padding: 30px;
  height: 30px;
  
}